<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css"/>
  </head>
  <nav class="nav">
    <form>
      <button type="submit" class="nav-button" formaction="{{url_for('index')}}"> &#10152; </button>
    </form>
  </nav>
  <body class="body">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Looser</th>
                <th>Movements</th>
            </tr>
        </thead>
        {% for game in games %}
        <tr>
            <td>{{game.date}}</td>
            <td style="color: {{game.winner}}">{{game.winner}}</td>
            <td style="color: {{game.looser}}">{{game.looser}}</td>
            <td>{{game.n_movements}}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>