<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css"/>
  </head>
  <nav class="nav">
    <form>
      <button type="submit" class="nav-button" formaction="{{url_for('index')}}"> &#10152; </button>
    </form>
  </nav>
  <body class="body">
    <h1 class="settings-h1">Settings</h1>
    <form class="form" action="{{ url_for('settings') }}" method="post">
        <label class="label">Map width: </label>
        <input type="number" name="map_width" value="{{settings.map_width}}" class="input">
        <label class="label">Map height: </label>
        <input type="number" name="map_height" value="{{settings.map_height}}" class="input">
        <label class="label"> Player one color </label>
        <select name="player_1" class="input">
            {% for color in colors %}
                <option value="{{color}}" {% if color == settings.player_1.value %}selected{% endif %}>{{color}}</option>
            {% endfor %}
        </select>
        <label class="label"> Player two color </label>
        <select name="player_2" class="input">
            {% for color in colors %}
                <option value="{{color}}" {% if color == settings.player_2.value %}selected{% endif %}>{{color}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="submit-button">Submit</button>
    </form>
  </body>
</html>
